*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #2563eb
    );
}

.container{
    width: 450px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
}

h1{
    color: white;
    margin-bottom: 20px;
}

input{
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

button{
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #0ea5e9;
    transform: scale(1.05);
}

#weatherResult{
    margin-top: 20px;
    color: white;
}

#weatherResult h2{
    margin-bottom: 10px;
    color: #facc15;
}

#weatherResult p{
    margin: 8px 0;
    font-size: 18px;
}

.weather-icon{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}